# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://babutmuthumari_db_user:lgAaFavmi8vQB4ji@cluster0.6vhgf3m.mongodb.net/?appName=Cluster0

# Server Configuration
PORT=5000

# Environment
NODE_ENV=development
